body{
    --parimary-color:#121672 !important;
    --secondary-color:#EE0000 !important; 
    --menu-color:#4549A5;
    --btn-hover:#4548A5 !important;
    --btn-pressed:#272964 !important;
    --btn-disabled:#cbccce !important;
    --border-color:#CBCCCE;
    --text-color-secondary:#575757 !important;
    --pending:#A6008B;
    --approved:#008E43;
    --rejected:#EE0000;
    --waiting:#82851B;
    --sendback: #FFBF00;
}
$green:#008E43;
$tableevencolor:#F8F8F8;